:root {
    --primary-very-dark-blue: hsl(233, 46%, 7%);
    --primary-dark-desaturated-blue: hsl(246, 38%, 16%);
    --primary-soft-violet: hsl(277, 64%, 61%);
    --primary-photo-filter: hsl(277, 72%, 53%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
    --neutral-slightly-transparent-white-stat: hsla(0, 0%, 100%, 0.6);

    --font-inter: Inter, sans-serif;
    --font-lexend-deca: 'Lexend Deca', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--primary-very-dark-blue);
    padding: 5rem;
}


/* Divs, containers*/
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--primary-dark-desaturated-blue);
    border-radius: 10px;
    max-width: 1150px;
    max-height: 445px;
}

.img__main {
    filter: opacity(0.4) drop-shadow(0 0 0 var(--primary-photo-filter));
    border-radius: 0 10px 10px 0;
    width: 50%;
    max-height: 445px;
}

.content__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 7.2rem;
    gap: 5rem;
    width: 50%;
}

.container_stats__info {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.stats {
    width: 33,3%;
}

/* Typograph */

.title__info {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    color: var(--neutral-white);
    font-size: 3.4rem;
    width: 80%;
}

.title__insight {
    color: var(--primary-soft-violet);
}

.description__info {
    font-family: var(--font-lexend-deca);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--neutral-slightly-transparent-white-paragraph);
    width: 80%;
}

.total {
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem ;
    color: var(--neutral-white);
}

.info_stats {
    font-family: var(--font-inter);
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--neutral-slightly-transparent-white-stat);
}

@media screen and (max-width: 1140px){
    .content__information {
        padding-left: 5.2;
    }

    .title__info {
        font-size: 2.5rem;
    }
    .description__info {
        font-size: 1.4rem;
        width: 80%;
    }
    .total {
        font-size: 1.6rem;
    }
    .info_stats {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 965px){
    .content__information {
        padding-left: 3rem;
    }

    .title__info {
        font-size: 2.5rem;
    }
    .description__info {
        font-size: 1.3rem;
    }
    .total {
        font-size: 1.4rem;
    }
    .info_stats {
        font-size: 1rem;
    }
    .container_stats__info {
        justify-content: flex-start;
        gap: 8rem;
    }
}

@media screen and (max-width: 865px){
    .title__info {
        font-size: 2.3rem;
    }

    .content__information {
        gap: 3rem;
    }
    .description__info {
        font-size: 1.2rem;
    }
    .container_stats__info {
        gap: 7rem;
    }

}

@media screen and (max-width: 760px){
    .title__info {
        font-size: 2.1rem;
    }
    .container_stats__info {
        gap: 6rem;
    }

    .description__info {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 720px) {
    .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        min-width: 330px;
        min-height: 780px;
    }

    .content__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 3rem;
        width: 100%;
    }

    .container_stats__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .img__main {
        border-radius: 10px 10px 0 0;
        width: 100%;
    }



    /*  Mobile Typography  */


    .title__info {
        font-size: 2.7rem;
        text-align: center;
        flex-wrap: wrap;
    }

    .description__info {
        font-size: 1.5rem;
        text-align: center;
        flex-wrap: wrap;
        line-height: 2rem;
    }

    .total {
        font-size: 2.3rem;
        padding-left: 1.6rem;
    }

    .info_stats {
        font-size: 1.3rem;
        text-align: center;
        text-transform: uppercase;
    }
}